<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>第一游戏论坛</title>
    <style>
        li {
            position: relative;
            z-index: 10;
            float: left;
            height: 41px;
            border: 0;
            font-size: 12px;
            margin-right: 18px;
            list-style: none;
            display: block;
        }
    </style>
</head>
<body>
    <div style="color: #333;width: 100%;position: fixed;top: 0;left: 0;z-index: 20000;height: 41px;background-color: #1e2023;">
        <div style="margin: auto;height: 40px;position: relative;">
            <div style="float: left;">
                <a href="">
                    <img src="../static/img/duowan.png" style="height: 41px;float: left;">
                </a>
                <ul style="height: 41px;float: left;list-style: none;">
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">首页</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">游戏</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">新闻</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">手游</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">TVG</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">单机</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">特权</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">视频</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">盒子</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">囧图</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">论坛</a>
                    </li>
                </ul>
            </div>
            <div style="float: right;">
                <ul style="height: 41px;float: left;list-style: none;">
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">登录</a>
                    </li>
                    <li>
                        <a href="" style="color: #a6aab3;font-weight: 400;text-decoration: none;">注册</a>
                    </li>
                </ul>
            </div>
        </div>

        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>
</html>